<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{site/fragments/head-fragment :: head('Círculo Militar de Alegrete')}"></head>
<link href="\css\site\stylesIndex.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<body>
    <header th:replace="~{site/fragments/header-fragment :: header('Home')}"></header>

    <div class="spacer"></div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="\images\fachada2.jpg" alt="Imagem 1"></div>
            <div class="swiper-slide"><img src="\images\banner-fale-conosco.jpg" alt="Imagem 2"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="container">
        <section class="hero-section">
            <h1>Bem-vindo ao Círculo Militar de Alegrete</h1>
            <p>Tradição, camaradagem e excelência desde 1973.   </p>
        </section>
        
        <section class="about-section">
            <h2>Início da Temporada de Verão</h2>
            <p>É com grande entusiasmo que anunciamos a reabertura do Círculo Militar de Alegrete! Após um período de preparação e melhorias, estamos prontos para receber você e sua família em um espaço renovado e cheio de novidades.</p>
            <p>Venha celebrar a chegada do verão com muita alegria e descontração! Desfrute de dias ensolarados, piscina liberada e momentos especiais com amigos e família. É a oportunidade perfeita para se refrescar, relaxar e criar memórias inesquecíveis em um ambiente acolhedor e cheio de energia positiva.</p>
        </section> 

        <section class="services-section">
            <h2>Custos para Associação</h2>
            <p>Confira abaixo os valores para se associar ao Círculo Militar de Alegrete:</p>
            <p><strong>Matrícula:</strong></p>
            <ul>
                <li><strong>R$ 30,00.</strong></li>
            </ul>
            <p><strong>Mensalidade:</strong></p>
            <ul>
                <li><strong>R$ 70,00.</strong></li>
            </ul>
            <p>O valor da associação inclui acesso à piscina, descontos, e prioridade na reserva das instalações. Dependentes devem ser cadastrados diretamente na secretaria do Círculo para que possam usufruir dos benefícios.</p>
            <p>Para mais informações, entre em contato conosco ou visite a secretaria do clube.</p>
        </section>
        
        

        <section class="about-section">
            <h2>Sobre Nós</h2>
            <p>Fundado em 22 de maio de 1973, o Círculo Militar de Alegrete é um espaço dedicado à promoção de atividades sociais, esportivas e culturais. Nossa missão é integrar a família militar e a sociedade civil em um ambiente acolhedor e inspirador.</p>
            <p>Com sedes estrategicamente localizadas e uma estrutura ampla e diversificada, oferecemos aos nossos associados uma experiência única, pautada pela tradição e inovação.</p>
        </section>        

        <section class="services-section">
            <h2>Nossos Serviços</h2>
            <p>No Círculo Militar de Alegrete, nossos associados têm acesso a:</p>
            <ul>
                <li>Espaços para confraternizações e eventos sociais;</li>
                <li>Atividades esportivas e recreativas para todas as idades;</li>
                <li>Programas culturais, eventos e encontros temáticos; e</li>
                <li>Instalações incluindo piscinas, quadras esportivas e áreas de lazer.</li>
            </ul>
            <p>Venha descobrir tudo o que temos a oferecer e faça parte da nossa história!</p>
        </section>

        <section class="about-section">
            <h2>Nossa Missão e Valores</h2>
            <p><strong>Missão:</strong> Promover a integração entre a Família Militar e a sociedade civil, proporcionando um espaço de convivência social, cultural e esportiva que valorize a tradição, o respeito e a amizade.</p>
            <p><strong>Visão:</strong> Ser um centro de referência em qualidade de vida, lazer e fortalecimento de laços comunitários, destacando-se pela excelência na gestão e na oferta de atividades voltadas ao bem-estar de nossos associados.</p>
            <p><strong>Valores:</strong> Respeito, camaradagem, tradição, espírito cívico, ética e compromisso com o desenvolvimento pessoal e comunitário de nossos membros.</p>
        </section>
        
        
        
    </div>

    <footer th:replace="~{site/fragments/footer-fragment :: footer}"></footer>

    <!-- Importando o arquivo JavaScript -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="\js\index.js"></script> <!-- Link para o arquivo JS externo -->

</body>

</html>
