@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    font-family: 'Futura Std', sans-serif;
    margin: 0;
    padding: 0;
    color-scheme: light;
    background: #fff;
    color: #000;
}

.fale-conosco-container {
    display: flex;
    min-height: 80dvh;
    width: 100%;
}

.fale-conosco-form {
    flex: 1;
    background-color: #002060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    color: white;
}

.fale-conosco-form h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.fale-conosco-form input[type="text"],
.fale-conosco-form input[type="email"],
.fale-conosco-form input[type="tel"],
.fale-conosco-form input[type="submit"],
.fale-conosco-form textarea {
    font-family: 'Futura Std', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
}

.fale-conosco-info {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fale-conosco-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/banner-fale-conosco.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    opacity: 0.2;
    z-index: -1;
}

.info-text {
    position: relative;
    z-index: 1;
    color: #002060;
    text-align: center;
    padding: 20px;
}

.info-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-text p {
    font-size: 18px;
    margin: 5px 0;
}

.button-enviar-aplicacao {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.button-enviar-aplicacao {
    background-color: #ffcc00;
    font-family: 'Futura Std', sans-serif;
    font-size: 20px;
    color: #002060;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-position 1s ease, color 0.3s ease, box-shadow 0.3s ease;
    background-size: 300%;
    background-image: linear-gradient(to right, #006400 33.33%, #ff0000 33.33%, #ff0000 66.66%, #ffcc00 66.66%);
    background-position: right;
}

.button-enviar-aplicacao:hover {
    background-position: left;
    color: white;
}

.button-enviar-aplicacao:active {
    box-shadow: 0 0 20px 10px #0b43b3;
}

.toast-error {
    width: 400px !important;
    height: auto !important;
    font-size: 18px !important;
    background-color: #f44336 !important;
    color: white !important;
    opacity: 0.9 !important;
}

.toast-success {
    width: 400px !important;
    height: auto !important;
    font-size: 18px !important;
    background-color: #15b307 !important;
    color: white !important;
    opacity: 0.9 !important;
}

.toast-error .toast-close-button, .toast-success .toast-close-button {
    color: white !important;
}

@media (max-width: 780px) {
    .fale-conosco-container {
        flex-direction: column-reverse;
    }
}

@media (max-width: 500px) {
    .toast-success {
        width: 250px !important;
        height: auto !important;
        font-size: 16px !important;
    }

    .toast-error {
        width: 250px !important;
        height: auto !important;
        font-size: 16px !important;
    }
}