@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    font-family: 'Futura Std', sans-serif;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
}

header {
    background-color: #002060;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 100px;
    margin-right: 10px;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Futura Std', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.nav-links * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav-links li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
    cursor: pointer;
}

.nav-links a {
    padding: .5em .8em;
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.nav-links a::before,
.nav-links a::after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-links a::before {
    right: 0;
    top: 0;
    border-top: 4px solid #ffcc00;
    border-right: 4px solid #ffcc00;
    transform: translate(-100%, 50%);
}

.nav-links a::after {
    left: 0;
    bottom: 0;
    border-bottom: 4px solid #006400;
    border-left: 4px solid #006400;
    transform: translate(100%, -50%);
}

.nav-links a:hover:before,
.nav-links a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav-links a:hover {
    color: #ff0000;
}

.nav-links a.active {
    color: #ff0000;
}

.nav-links a.active::before,
.nav-links a.active::after {
    transform: translate(0, 0);
    opacity: 1;
}

.button-associe {
    background-color: #ffcc00;
    color: #002060;
    padding: 10px 20px;
    max-height: 40px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-position 1s ease, color 0.3s ease, box-shadow 0.3s ease;
    background-size: 300%;
    background-image: linear-gradient(to right, #006400 33.33%, #ff0000 33.33%, #ff0000 66.66%, #ffcc00 66.66%);
    background-position: right;
}

.button-associe:hover {
    background-position: left;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.button-associe:active {
    box-shadow: 0 0 20px 10px #0b43b3;
}

#nav-menu {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #002060;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 100;
}

#nav-menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    margin: 20px 0;
}

#nav-menu.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.nav-links-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Futura Std', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.nav-links-menu * {
    box-sizing: border-box;
}

.nav-links-menu li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
    cursor: pointer;
}

.nav-links-menu a {
    padding: .5em .8em;
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.menu-logo-associe {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.menu-logo img {
    max-height: 80px;
    margin-bottom: 20px;
}

.close-menu {
    display: none;
    color: white;
    font-size: 36px;
    cursor: pointer;
    text-align: end;
    font-weight: bold;
}

.close-menu span {
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.close-menu:hover span {
    transform: translateX(-5px);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.rs-flag-colors {
    background: linear-gradient(135deg, #006400 33.33%, #ff0000 33.33%, #ff0000 66.66%, #ffcc00 66.66%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 10px;
}

@media (max-width: 1110px) {
    .associe {
        width: 100%;
        max-width: 15vw;
    }

    .button-associe {
        width: 100%;
        max-width: 15vw;
    }

    .nav-links li {
        flex-grow: 1;
    }
}

@media (max-width: 768px) {
    .header-container {
        justify-content: space-around;
    }

    .nav,
    .nav-links,
    .associe {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    #nav-menu.open {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 10px;
    }

    .menu-logo-associe {
        display: flex;
    }

    .close-menu {
        display: block;
    }

    .button-associe {
        max-width: 100%;
    }
}