<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Eventos - CMA')}"></head>
<link href="\css\stylesEvents.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Eventos')}"></header>

    <section class="eventos-container">
        <div class="eventos-background"></div>

        <div class="evento-content">
            <div class="evento">
                <div class="evento-info">
                    <h3>Início da Temporada de Verão</h3>
                    <p><strong>Data:</strong> 13 a 15 de dezembro de 2024</p>
                    <p><strong>Horário:</strong> Das 10:00h às 18:00h</p>
                    <p><strong>Entrada grátis para a piscina!</strong></p>
                    <p class="evento-descricao">Venha celebrar a chegada do verão com muita alegria e descontração! Desfrute de dias
                        ensolarados, piscina liberada e momentos especiais com amigos e família. É a oportunidade perfeita para se
                        refrescar, relaxar e criar memórias inesquecíveis em um ambiente acolhedor e cheio de energia positiva.</p>

                    <p class="exibir-mais" onclick="toggleDescription(event)">
                        Exibir mais...
                </div>
                <div class="evento-image">
                    <img src="/images/evento1.jpg" alt="Evento 1">
                </div>
            </div>

            <div class="evento">
                <div class="evento-info">
                    <h3>Torneio de Truco</h3>
                    <p><strong>Data:</strong> A definir (Janeiro/Fevereiro de 2025)</p>
                    <p class="evento-descricao">Prepare suas cartas e sua parceira de jogo para o Torneio de Truco do
                        Círculo Militar de
                        Alegrete! Com uma mistura de estratégia, sorte e muita diversão, essa competição será o ponto de
                        encontro para os amantes do tradicional truco gaúcho.</p>

                    <p class="exibir-mais" onclick="toggleDescription(event)">
                        Exibir mais...
                    </p>
                </div>


                <div class="evento-image">
                    <img src="/images/evento2.png" alt="Evento 2">
                </div>
            </div>
        </div>

    </section>


    <!-- Adiciona mais eventos conforme necessário -->
    </section>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

    <script src="\js\events.js"></script>
</body>

</html>