<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Eventos - CMA')}"></head>
<link href="\css\stylesEvents.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Eventos')}"></header>

    <section class="eventos-container">
        <div class="eventos-background"></div>

        <div class="evento-content">
            <div class="evento">
                <div class="evento-info">
                    <h3>Torneio de Vôlei de Areia</h3>
                    <p><strong>Data:</strong> 12 de Outubro de 2024</p>
                    <p><strong>Horário:</strong> A partir das 09:00</p>
                    <p><strong>Inscrições abertas até:</strong> 5 de Outubro de 2024</p>
                    <p class="evento-descricao">Participe do Torneio de Vôlei organizado pelo Círculo Militar de
                        Alegrete! Reúna sua equipe e
                        venha disputar partidas emocionantes em um ambiente de camaradagem e espírito esportivo.</p>

                    <p class="exibir-mais" onclick="toggleDescription(event)">
                        Exibir mais...
                </div>
                <div class="evento-image">
                    <img src="/images/evento1.jpeg" alt="Evento 1">
                </div>
            </div>

            <div class="evento">
                <div class="evento-info">
                    <h3>Torneio de Truco</h3>
                    <p><strong>Data:</strong> 15 de Novembro de 2024</p>
                    <p><strong>Horário:</strong> A partir das 14:00</p>
                    <p><strong>Inscrições abertas até:</strong> 10 de Novembro de 2024</p>
                    <p class="evento-descricao">Prepare suas cartas e sua parceira de jogo para o Torneio de Truco do
                        Círculo Militar de
                        Alegrete! Com uma mistura de estratégia, sorte e muita diversão, essa competição será o ponto de
                        encontro para os amantes do tradicional truco gaúcho.</p>

                    <p class="exibir-mais" onclick="toggleDescription(event)">
                        Exibir mais...
                    </p>
                </div>


                <div class="evento-image">
                    <img src="/images/evento2.png" alt="Evento 2">
                </div>
            </div>
        </div>

    </section>


    <!-- Adiciona mais eventos conforme necessário -->
    </section>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

    <script src="\js\events.js"></script>
</body>

</html>