<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Institucional - CMA')}"></head>
<link href="\css\stylesInstitutional.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Institucional')}"></header>

    <main class="institucional-container">
        <section class="institucional">
            <div class="content-wrapper">
                <div class="qr-code-section">
                    <a href="https://qrco.de/bfLL70"><img src="images\qr-code-estatuto.png" alt="QR Code Estatuto"></a>
                </div>
        
                <div class="institucional-info">
                    <h2>Quem Pode se Associar?</h2>
                    <p>O Círculo Militar de Alegrete acolhe militares da ativa, da reserva e seus familiares. Para se associar, preencha o formulário de inscrição e atenda aos requisitos previstos no Estatuto.</p>
        
                    <h2>Para que Serve o Estatuto?</h2>
                    <p>O Estatuto é o documento que regula o funcionamento do clube, estabelecendo os direitos, deveres e normas para uma convivência harmoniosa entre os associados.</p>
        
                    <h2>O Que Acontece se Eu Descumprir as Regras?</h2>
                    <p>O descumprimento das regras previstas no Estatuto pode resultar em advertências, suspensão ou exclusão, dependendo da gravidade da infração.</p>
                </div>
            </div>
        </section>
        
    </main>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>
</body>

</html>