<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head-fragment :: head('Associe-se - CMA')}"></head>
<link href="\css\stylesMembership.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Associe-se')}"></header>

    <div class="associe-container">
        <div class="associe-image">
            <img src="/images/fachada1.jpg" alt="Banner Piscina">
        </div>

        <div class="register-container">
            <div class="logo-register">
                <img src="/images/only-logo.png" alt="Logo">
                <h2>Associe-se ao Círculo Militar de Alegrete</h2>
            </div>
            <form class="form-associe" id="form-associe">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="E-mail para contato" required>
                </div>
                <div class="form-group">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" name="name" placeholder="Digite seu nome completo" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf"
                        placeholder="Necessário para confecção de contrato de associação" required>
                </div>
                <div class="form-group">
                    <label for="rg">RG</label>
                    <input type="text" id="rg" name="rg"
                        placeholder="Necessário para confecção de contrato de associação" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Telefone</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="(XX) XXXXX-XXXX" required>
                </div>
                <div class="form-group">
                    <label for="address">Endereço de Residência</label>
                    <input type="text" id="address" name="address"
                        placeholder="Necessário para confecção de contrato de associação" required>
                </div>
                <div class="form-group">
                    <label for="militaryOrganization">Organização Militar</label>
                    <select id="militaryOrganization" name="militaryOrganization">
                        <option value="" disabled selected>Selecione a Organização Militar</option>
                        <option value="null">Não sou militar</option>
                        <option value="6° RCB">6° RCB</option>
                        <option value="12° Cia Com">12° Cia Com</option>
                        <option value="12° BE Cmb">12° BE Cmb</option>
                        <option value="2° Cia Eng Cmb">2° Cia Eng Cmb</option>
                        <option value="H Gu A">H Gu A</option>
                        <option value="10° B Log">10° B Log</option>
                    </select>
                </div>
                <p>*Será enviado um e-mail contendo as informações necessárias para completar sua inscrição.
                </p>
                <button type="submit" class="button-enviar-aplicacao" onclick="enviarAplicacao(event)">Enviar
                    Aplicação</button>
            </form>
        </div>
    </div>

    <script src="\js\membership.js"></script>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>
</body>

</html>