<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Reservas - CMA')}"></head>
<link href="\css\stylesReservations.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Reservas')}"></header>

    <section class="reservas-container">
        <div class="reservas-background"></div>

        <div class="reservas-content">
            <h1>Reservas</h1>
            <div class="reservas-item">
                <h2>Quiosque</h2>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="\images\quiosque2.jpg" alt="Imagem 1"></div>
                        <!-- <div class="swiper-slide"><img src="\images\quiosque2.jpg" alt="Imagem 2"></div>
                        <div class="swiper-slide"><img src="\images\quiosque2.jpg" alt="Imagem 3"></div> -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>

                <div class="reservas-item-info">
                    <p><strong>Capacidade:</strong> 80 pessoas</p>
                    <p><strong>Equipado com:</strong> 02 churrasqueiras, freezer e pia</p>
                    <p><strong>Realizar reserva através de:</strong> <br>
                        WhatsApp: (55) 99924-7746 - Cb Rubim - das 08:00h às 17:00
                    </p>
                </div>
            </div>

            <div class="reservas-item">
                <h2>Salão Superior</h2>
                <!-- <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="\images\salao-superior.jpg" alt="Imagem 1"></div>
                        <div class="swiper-slide"><img src="\images\salao-superior.jpg" alt="Imagem 2"></div>
                        <div class="swiper-slide"><img src="\images\salao-superior.jpg" alt="Imagem 3"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div> -->

                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>

                <div class="reservas-item-info">
                    <p><strong>Capacidade:</strong> 80 pessoas</p>
                    <p><strong>Realizar reserva através de:</strong> <br>
                        WhatsApp: (55) 99924-7746 - Cb Rubim - das 08:00h às 17:00
                    </p>
                </div>
            </div>

            <div class="reservas-item">
                <h2>Salão Inferior</h2>
                <!-- <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="\images\salao-inferior.jpg" alt="Imagem 1"></div>
                        <div class="swiper-slide"><img src="\images\salao-inferior.jpg" alt="Imagem 2"></div>
                        <div class="swiper-slide"><img src="\images\salao-inferior.jpg" alt="Imagem 3"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div> -->

                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>

                <div class="reservas-item-info">
                    <p><strong>Capacidade:</strong> 60 pessoas</p>
                    <p><strong>Equipado com:</strong> 01 churrasqueira e pia</p>
                    <p><strong>Realizar reserva através de:</strong> <br>
                        WhatsApp: (55) 99924-7746 - Cb Rubim - das 08:00h às 17:00
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="\js\reservations.js"></script>
</body>

</html>