<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Horários - CMA')}"></head>
<link href="\css\stylesSchedules.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('Horários')}"></header>

    <main class="horarios-container">
        <div class="horarios-background"></div>

        <section class="horarios-content">
            <h1>Horários de Funcionamento</h1>
            <div class="horarios-item">
                <h2>Clube</h2>
                <p>Segunda a Sexta: 8h às 18h</p>
                <p>Sábados e Domingos: 10h às 18h</p>
            </div>

            <div class="horarios-item">
                <h2>Quiosque</h2>
                <p>Segunda a Sexta: 10h às 20h</p>
                <p>Sábados e Domingos: 10h às 19h</p>
            </div>

            <div class="horarios-item">
                <h2>Piscina</h2>
                <p>Terça a Domingo: 10h às 18h</p>
            </div>

            <div class="horarios-item">
                <h2>Salão Inferior</h2>
                <p>Segunda a Sexta: 8h às 19h</p>
                <p>Sábados e Domingos: 9h às 19h</p>
            </div>

            <div class="horarios-item">
                <h2>Salão Superior</h2>
                <p>Segunda a Sexta: 8h às 20h</p>
                <p>Sábados e Domingos: 9h às 19h</p>
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>
</body>

</html>