<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragments/head-fragment :: head('Enviar Contrato')}"></head>
<link href="\css\stylesSendContract.css" rel="stylesheet" />

<body>
    <header th:replace="~{fragments/header-fragment :: header('')}"></header>

    <div class="container">
        <div class="content-wrap"></div>
        <div class="upload-box text-center">
          <h2 class="mb-4">Envie seu Contrato Assinado</h2>
          <p class="upload-instructions">
              Esta página é destinada ao envio do seu contrato assinado digitalmente. Por favor, siga as instruções abaixo:
          </p>
      
          <ul class="list-unstyled upload-instructions text-start">
              <li><strong>1.</strong> Envie o contrato que você recebeu por e-mail.</li>
              <li><strong>2.</strong> Assine o documento digitalmente utilizando a ferramenta <a href="https://assinador.iti.br/assinatura/" target="_blank">Assinatura Digital GOV.BR</a>.</li>
              <li><strong>3.</strong> Após o envio, seu contrato será analisado, e retornaremos com uma resposta em até 10 dias úteis.</li>
          </ul>
      
        <form>
          <div class="mb-3">
            <label for="formFile" class="form-label">Selecione o arquivo PDF (Máximo de 1 MB)</label>
            <input class="form-control" type="file" id="formFile" accept=".pdf" required>
          </div>
          <button type="submit" class="btn btn-primary w-100" onclick="sendContract(event)">Enviar Contrato</button>
        </form>
      </div>
    </div>
    <footer th:replace="~{fragments/footer-fragment :: footer}"></footer>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="\js\sendContract.js"></script>
  </body>
</html>